<body>
    <div id="menu" class="header">
    	<span id="span">+</span>
    </div>
	<div id="header">
		<h1>Compare seus produtos</h1><br>
		<!-- Formulário para dois ou quatro produtos -->
		<div id="forms">
			<%= form_tag "index", method: "get", id: "form1" do %>
	          <%= check_box_tag(:numero, 2, @numero == 2, id: "numero2", :onchange => ("$('#form1').submit()")) %>
	          <%= label_tag("numero2", "2 produtos") %>
	        <% end %>
	        <%= form_tag "index", method: "get", id: "form2" do %>
	          <%= check_box_tag(:numero, 4, @numero == 4, id: "numero4", :onchange => ("$('#form2').submit()")) %>
	          <%= label_tag("numero4", "4 produtos") %>
	        <% end %>
        </div>
	</div>

  <!-- Caixa para cada produto -->
  <div id="containers">
  	<% for i in 0...@numero %>
		<div id="container<%= i %>" class="container <%= @two %>">
			<div class="text">
			  <% if @produto[i] != nil %>
			  	<div>
					<p>Nome: <%= @produto[i].nome %></p>
					<p>Modelo: <%= @produto[i].modelo %></p>
					<p>Preço: <%= @produto[i].preco %></p>
					<p>Cores: <%= @produto[i].cores %></p>
					<p>Tamanhos: <%= @produto[i].tamanhos %></p>
					<p>Quantidade: <%= @produto[i].quantidade %></p>
					<p>Descrição: <%= @produto[i].descricao %></p>
				</div>
			  <% end %>
			<%= form_tag("index", method: "get") do %>
	          <%= label_tag(:produto[i], "Produto #{i + 1}") %>
	          <%= text_field_tag(:produto[i], "", id: "produto[#{i}]") %>
	          <%= submit_tag "Buscar", id: "buscar#{i}" %>
	        <% end %>
			  <% if @produto[i] == nil && @busca[i] != nil %>
			  	<p class="erro"><%= @busca[i] %> não foi encontrado</p>
			  <% end %>
			</div>
		</div>
	<% end %>
  </div>

<script type="text/javascript">
	$(function() {
	  <% if @params == true %>
	    $('#header').hide();
	  <% end %>
	  var availableTags = [
	    <% @produtos.each do |produto| %>
	      "<%= produto.nome %>",
	    <% end %>
	  ];
	  $( ".text form input" ).autocomplete({
	    source: availableTags
	  });
	});
</script>

</body>